<%-
# @Author: msmiller
# @Date:   2023-04-07 21:13:52
# @Last Modified by:   msmiller
# @Last Modified time: 2023-04-07 21:18:16
# 
# Copyright (c) Sharp Stone Codewerks / Mark S. Miller
-%>
<%-
notice_color = "amber"
-%>

<span class="w-full text-gray-600 mr-8 border border-<%= notice_color %>-200 bg-<%= notice_color %>-100 rounded-md align-middle p-2 truncate" >
  The site is now re-hosted on a private server.
</span>