<%-
# @Author: msmiller
# @Date:   2023-05-21 23:29:04
# @Last Modified by:   msmiller
# @Last Modified time: 2023-05-21 23:35:45
# 
# Copyright (c) Sharp Stone Codewerks / Mark S. Miller
-%>

<% if @pilot.pilot_salutes.length > 0 %>
<div class="space-y-2">
    <% @pilot.pilot_salutes.each do |salute| %>
      <div class="sm:px-6 pb-4 flex items-center xxxspecialelite-font">
        <%= image_tag "salute.svg", class: "w-6 h-6 inline-block mr-1" %>
        <span class="align-middle"><%= salute.user.handle %></span>
        <span class="align-middle text-xs font-sans ml-2">(<%= salute.created_at.to_date.to_s(:ordinal) %>)</span>
      </div>
    <% end %>
</div>
<% end %>

<div class="sm:px-6 pb-4 flex align-middle">
  <%= button_to "Add your <S>", voaw_salute_path(@pilot), class: "inline-block   uppercase text-xs border py-1 px-2 rounded-md bg-gray-600 text-white hover:bg-cyan-600" %>
</div>