<div class="field">
  <%= label_tag "#{label} URL" %>
<div class="large-2 columns">
<span class="prefix">http://</span>
</div>
<div class="large-10 columns">
<%= text_field_tag field_name, @social[field_name], :name => "social[#{field_name}]", :placeholder => "Enter #{label} URL ...", class: 'form-input' %>
</div>
</div>