<div class='space-x-1'>
  <%= link_to heroicon('home', variant: 'solid', options: { class: 'socialicon' }), 
      add_http(socials.homepage_url), :class => "", :target => "_blank" unless socials.homepage_url.blank? %>
  <%= link_to image_tag("https://simpleicons.org/icons/twitter.svg", :class => 'socialicon', alt: 'Twitter'), 
      add_http(socials.twitter_url), :class => "", :target => "_blank" unless socials.twitter_url.blank? %>
  <%= link_to image_tag("https://simpleicons.org/icons/facebook.svg", :class => 'socialicon', alt: 'Fakebook'), 
      add_http(socials.facebook_url), :class => "", :target => "_blank"  unless socials.facebook_url.blank? %>
  <%= link_to image_tag("https://simpleicons.org/icons/instagram.svg", :class => 'socialicon', alt: 'Instagram'), 
      add_http(socials.googleplus_url), :class => "", :target => "_blank"  unless socials.instagram_url.blank? %>
</div>

