<div class="field">
  <%= label_tag "#{label} URL" %>
  <%= url_field_tag field_name, @social[field_name], :name => "social[#{field_name}]",
      :placeholder => "Enter #{label} URL ...", class: 'form-input' %>
</div>