Veterans of Online Air Wars Pilot Registry
<br>
https://github.com/rweng/jquery-datatables-rails
<table id="voawpilots">
  <thead>
    <tr>
      <th>Handle</th><th>City</th><th>AW</th><th>WB</th><th>AH</th><th>Twitter</th><th>Facebook</th><th>Details</th>
    </tr>
    <%= render :partial => 'voaw_row', :collection => @all_users %>
  </thead>
  <tbody>
  </tbody>
</table>