<h4>Veterans of Online Air Wars Pilot Registry</h4>
<br>
<table id="voawpilots">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Squadron</th>
      <th>Name</th>
      <th>City</th>
      <th>AW</th>
      <th>WB</th>
      <th>AH</th>
      <th>Start</th>
      <th>Details</th>
    </tr>
    <%= render :partial => 'voaw_row', :collection => @pilots %>
  </thead>
  <tbody>
  </tbody>
</table>

https://github.com/rweng/jquery-datatables-rails

<div id="myModal" class="reveal-modal" data-reveal></div>

