<div class="row">
<div class="large-9 columns">
</div>
<div class="w-full mb-4">
<form id="live-search" action="" class="styled  w-64" method="post" style="padding:0px;margin:0px;">
  <input type="text" class="form-input" id="filter" value="" placeholder="Search..." style="padding:0px;margin:0px;margin-top:8px;padding:4px;" />
</form>
</div>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-5">
  <%= render :partial => 'voaw_tile', :collection => @pilots %>
</div>

<div id="myModal" class="reveal-modal" data-reveal></div>

<%-
# Script via: http://www.designchemical.com/blog/index.php/jquery/live-text-search-function-using-jquery/
-%>

<script type="text/javascript">
$(document).ready(function(){
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".roster_tile_outer").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut("slow");
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).fadeIn("slow");
            }
        });
 
    });
});
</script>