<div class="mx-0 overflow-hidden w-full">
  <table class="" id="roster-table">
    <thead class="uppercase text-sm font-semibold text-gray-900 text-left">
      <tr>
        <th scope="col" class="">Handle</th>
        <th scope="col" class="">Squadron</th>
        <th scope="col" class="medium-plus">Air Warrior</th>
        <th scope="col" class="medium-plus">WarBirds</th>
        <th scope="col" class="medium-plus">Aces High</th>
        <% if current_user && false -%>
        <th scope="col" class="large-plus">In Real Life</th>
        <th scope="col" class="large-plus">Social</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white text-sm font-medium text-gray-900">
      <%= render :partial => 'voaw_row', :collection => @pilots %>
    </tbody>
  </table>
</div>

<div id="myModal" class="reveal-modal" data-reveal></div>
