<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
<div class="row">
<div class="large-9 columns">
</div>
<div class="large-3 columns">
<form id="live-search" action="" class="styled" method="post" style="padding:0px;margin:0px;">
  <input type="text" class="text-input" id="filter" value="" placeholder="Search..." style="padding:0px;margin:0px;margin-top:8px;padding:4px;" />
</form>
</div>
</div>
<div id="roster_outer">
  <%= render :partial => 'voaw_tile', :collection => @pilots %>
</div>

<%-
# Script via: http://www.designchemical.com/blog/index.php/jquery/live-text-search-function-using-jquery/
-%>

<script type="text/javascript">
$(document).ready(function(){
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".roster_tile_outer").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut("slow");
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).fadeIn("slow");
            }
        });
 
    });
});
</script>