<h1>About</h1>
<p>I built this site so all the players from Air Warrior, WarBirds, and Aces High had some way to find each other. Some way to maintain a contact list of social media presences. Since pretty much everyone has a Facebook page or Twitter account or <b>something</b> that they check regularly, this seemed like a better way to help people connect than just emails ... which are spam magnets anyway.</p>
<p>I tossed this together in a couple evenings so "it is what it is." It's written in Rails 4, so it's pretty flexible if we ever want to do more. But for now, I'm happy just to have a place where all this info can be gathered before we all get too freakin' old and senile to work a keyboard.</p>
<p>A few notes for whatever it's worth:</p>
<ul>
  <li>Even though emails addresses are used for logging in, they are not exposed on the site. Use the various social media links to connect with others. Spammers can rot in the fierest depths of the most horrific sub-divisions of Hell.</li>
  <li>If you need an email list for an event or get-together, contact me and I can run a database query based on whatever criteria you need. I can't guarantee overnight turn-around, so give me lead time.</li>
  <li>This is being run on a free Rails host. I don't expect our database or traffic will ever exceed what this host can do. If it does, I'll cross that river when we come to it.</li>
  <li>I'm not putting in a lot of fancy AJAX stuff just now - this is a quick'n'dirty coding effort. If the table size ever exceeds about 150 people I may need to. There may be a few minor bugs as well, I'll try not to leave anything serious.</li>
  <li>Note that squadron names are kept as a kind of global dictionary, so whichever spelling of your squad everyone agrees on is cool. When the last reference to a spelling is removed, it's also gone from the system. So basically the system is self-policing in terms of squadron names in the pre-defined dictionary.</li>
  <li>Idea for 'acebook' name courtesy of 'Immel'.
</ul>
<center><%= image_tag "sheep.jpg" %></center>
