<h2  class="pagetitle">Roadmap and Status</h2>

<%== divider("Known Issues") %>

<div class="prose prose-li:list-disc max-w-none my-4">

<ul>
  <li>The forms to enter community info (Links, etc.) work again, but I didn't have time to hook
  up validation. So make sure you enter all fields and use proper URL's.</li>
  <li>Things seem to work but they haven't been tested thoroughly.</li>
  <li>There's an invisible CAPTCHA on the sign-up form now, let me know if you have problems.</li>
  <li>Email is now hooked up so password reset requests should work. Make sure to check your SPAM folder if you think yu didn't get an email.</li>
</ul>

</div>

<%== divider("Roadmap") %>


<div class="prose prose-li:list-disc max-w-none my-4">

<p>The code stack was completely retooled and up-revved. I looked at a couple forum plug-ins and they didn't mesh well with the 
      rest of the code. The plans for when I can get back to working on this are:</p>

<ul>
  <li>Put in the "missing man formation" feature to allow salutes and stories about those who are no longer with is.</li>
  <li>Add some kind of messaging mechanism. I'll either graft in a DM mechanism I use on other projects, or spool up a "Slack Lite"
      kind of deal so we can get some of the benefits of an open chat channel for members only.</li>
  <li><strike>Move the whole mess off of Heroku and onto one of my own servers. This will allow using things which are expensive
      with Heroku's pricing model.</strike></li>
  <li>Add a basic mailing list mechanism if the site starts getting traction.</li>
  <li>Add an ability to upload pictures. This gets easier once it's off of Heroku.</li>
</ul>

</div>