<h2  class="pagetitle">Roadmap and Status</h2>

<div class="prose prose-li:list-disc max-w-none mt-6 mb-8 text-red-500 font-mono border-red-500 bg-red-100 border p-4 rounded-lg">
SITE STATUS: Things are more or less working in "read mode". No new content can be added, comments are disabled.
The profile edit form should be working. I need to get email wired up to allow account recovery - maybe also add
a CAPTCHA on the sign up form because I did have to zap about 20 fake accounts.
The forums are working but I left them disabled until I get email issues
sorted out (notifications and so forth). I may hold on that until I move this all off of Heroku.
</div>


<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="px-4 bg-white text-gray-500 text-lg titlefont shadow-inner border border-gray-300 rounded-full">Roadmap</span>
  </div>
</div>

<div class="prose prose-li:list-disc max-w-none my-4">

<p>The code stack was completely retooled and up-revved. I looked at a couple forum plug-ins and they didn't mesh well with the 
      rest of the code. The plans for when I can get back to working on this are:</p>

<ul>
  <li>Put in the "missing man formation" feature to allow salutes and stories about those who are no longer with is.</li>
  <li>Add some kind of messaging mechanism. I'll either graft in a DM mechanism I use on other projects, or spool up a "Slack Lite"
      kind of deal so we can get some of the benefits of an open chat channel for members only.</li>
  <li><strike>Move the whole mess off of Heroku and onto one of my own servers. This will allow using things which are expensive
      with Heroku's pricing model.</strike></li>
  <li>Add a basic mailing list mechanism if the site starts getting traction.</li>
  <li>Add an ability to upload pictures. This gets easier once it's off of Heroku.</li>
</ul>

</div>