<h2  class="pagetitle">DoK's Scenario Videos</h2>

<div class="grid grid-cols-1 gap-4 max-w-4xl mx-auto space-y-4">

  <p class="italic text-gray-500 text-center max-w-lg mx-auto">
    These were done in the mid-2000's, so the size and fidelity is kind of lacking. Still, they do give a good sense for 
    what went on in the events.
  </p>

  <div class="mx-auto">
    <p class="text-center specialelite-font text-xl ">Rangoon Feature Video</p>
    <p class="italic text-gray-500 text-center max-w-md mx-auto">This video shows the battle from both perspectives.</p>

    <iframe title="vimeo-player" src="https://player.vimeo.com/video/99422773?h=b6905f31db" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
  </div>

  <div class="mx-auto">
    <p class="text-center specialelite-font text-xl">Rangoon Bonus Reel</p>
    <iframe title="vimeo-player" src="https://player.vimeo.com/video/99422909?h=1b5d719143" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
  </div>

  <div class="mx-auto">
    <p class="text-center specialelite-font text-xl">Fire Over Malta Event Video</p>
    <p class="italic text-gray-500 text-center max-w-md">As I recall, this wasn't an event I ran but I helped with the design and did the after-action video</p>
    <iframe width="480" height="360" src="https://www.youtube.com/embed/yDxCvE-sTVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="mx-auto"></iframe>
  </div>

</div>