// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.komments { 
  font-size: 12px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 8px;
  color: #888;
}

.acomment {
  font-size: 12px;
  border-top: 1px dashed #ccc;
}

.commentbullet {
  float:right;
  font-size: 12px;
}