// Place all the styles related to the timelime controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timelinedate { display: inline-block; width: 150px; text-align: right; color: #666; padding-right: 10px; }

#timelinelist .accordion-title { font-size: 1rem; }