// Place all the styles related to the voaw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideright { text-align: right; }
.slideleft { text-align: left; }
.footer { font-size: 12px; border-top: 1px solid #ddd; margin-top: 10px; padding-top: 5px; }
