// Place all the styles related to the voaw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideright { text-align: right; }
.slideleft { text-align: left; }
.footer { font-size: 12px; border-top: 1px solid #ddd; margin-top: 10px; padding-top: 5px; }

#logobtn {
  color:white;background:#008cba;border-radius:6px;
  width: 56px; height:56px;display:block;float:left;
  text-align: center; margin-right:8px;vertical-align: middle;
}
#logoimage {
    width: 56px; height:56px;float:left;
  text-align: center; margin-right:8px;
  border-radius:6px;
}
h1#title a:hover { color: black !important; text-decoration: none; }
#logobtn:hover { background-color: black !important; text-decoration: none; }

table#voawpilots td { 
  font-weight: normal; /*font-size: 12px; */
  font-family: helvetica, sans-serif !important; vertical-align: top; 
}
table#voawpilots th { 
  background-color: #eee;
}

label { text-transform: uppercase; font-weight: bold; }

#pilot_country { width:48%;float:right; }

.gcountry { font-size: 10pt; }
.smallertext { font-size: 9pt; }

a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

#logo { font-family: Tahoma, Verdana, Segoe, sans-serif; font-weight: bold; }
.profilewrapper { font-size: 1em !important; }
.socialbtn { margin:5px; font-family: Verdana, Geneva, sans-serif !important; 
  text-transform: uppercase; font-size: 12px !important;}

.miniicon { width: 30px; height: 30px; margin-right: 8px; float:left;}
.proficon { width: 90px; height: 90px; }

#legend { font-size: 12px; font-style: italic; margin: 42px 0px 0px 0px; padding: 0px; color: grey; }

#menulist a { text-decoration: none; }
#menulist a:hover { color: gold;}

/* --- FOR LORE/TIMELINE --- */

dd.accordion-navigation a { 
  padding-top: 8px !important; padding-bottom: 8px !important;
  text-decoration: none;
  border-top: 1px solid white;
  }
dd.accordion-navigation.active a { 
background: #bcd !important;
  /* border-bottom: 1px solid #008cba; */
}

dd.accordion-navigation div.content {
    padding-top: 10px !important; padding-bottom: 10px !important;
}

span.minibullit {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;

    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */

    /* background-color: #333; */
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: 8px auto 0 auto;

    text-transform: uppercase;
    margin-bottom: -5px;
}

.game_aw { background-color: OliveDrab; }
.game_wb { background-color: #c33; }
.game_ah { background-color: SteelBlue; }

.contentlegend {
  text-align: right;
  font-size:11px;
  color: #888;
}

a.contenteditlink {
  background: white !important;
}

a.contenteditlink:hover {
  text-decoration: underline;
}

a.close-reveal-modal { text-decoration: none; }