<header id="header" class='p-4'>
  <h1 id="title" class='text-cyan-600 text-4xl font-bold'>
    <%= link_to root_url, :id => "logo" do %>
      <%= image_tag("acebook.gif", :id => "logoimage", class: 'inline w-12 h-12 rounded-md align-middle') %>
      <span class='align-middle'>Acebook</span>
    <% end %>
  </h1>
   <p id="legend">An online directory for the lost tribes of Air Warrior, WarBirds, and Aces High.</p>
</header>