<div style='padding: 0px; align: left; vertical-align: middle; color: DarkCyan; width: 100%; '>
<%= image_tag("acebook.gif", style: 'display: inline-block; border-radius: 5px; width: 2rem; height: 2rem;') %>
<span style="font-weight: bold; font-size: 2rem; font-family: helvetica, sans; vertical-align: middle; " >Acebook</span>
</div>